html {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: "Permanent Marker", cursive;
}

h2 {
  font-family: "Coming Soon", cursive;
}

p {
  font-family: "M PLUS Rounded 1c", sans-serif;
}
